// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    font-size: 18px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.7rem;
    background-image: url(/images/desk.jpg);
    background-repeat: no-repeat;
}
h1 {
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.9;
    font-size: 3em;
    margin-bottom: 0.1em;
    span {
        font-size: .5em;
        letter-spacing: 0;
        line-height: 1.2em;
        display: block;
        margin-top: 0.3em;
    }
}
h2 {
    font-size: 1.8em;
}

h3 {
    text-transform: uppercase;
}

h5 {
    font-size: 1rem;
    margin-bottom: 0;
}

h6 {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 0 0 .2em;
}

a {
    color: inherit;
    &.repo i{
        font-size: 1.5em;
    }
}

blockquote {
    font-size: 1.2em;
}

button + a {
    margin-left: 1em;
}

blockquote {
    font-style: italic;
}

ul {
    @include list-unstyled();
    &.atts {
        list-style: disc;
        margin: 0 0 1em 1em;
        line-height: 1.5em;
        li {
            margin-bottom: 0.4em;
        }
    }
    &.callout {
        list-style: none;
        margin: 0 0 2.5em 1em;
        li {
            text-indent: -1.5em;
            &:before {
                content: "\f00c";
                font-family: 'FontAwesome';
                margin-right: .5em;
            }
        }
    }
    &.running li {
        margin-left: .5em;
        &:nth-child(n+2):before {
            content: '•';
            margin-right: .2em;
        }
    }
    &.duties * {
        display: inline;
    }
}

ul.duties {
    margin-left: 1em;
}

ul.duties > li {
    margin-left: -1em;
}

ul.duties > li >span {
    font-weight: bold;
}

p, ul {
    font-size: 1.2em;
}

p.jobMeta {
    margin: 0 0 0.7em;
}

.projects .toggle{
    &[aria-expanded=true] i:before {
        content: "\f106";
    }
    &[aria-expanded=false] i:before {
        content: "\f107";
    }
}
.placard{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.4em;
}
.jobs h3 {
    font-size: 1.5em;
    font-weight: 100;
    margin: 0;
}
a {
    text-decoration: underline;
    &.toggle {
        text-decoration: none;
    }
}
h4 {
    text-transform: uppercase;
    font-size: 1em;
}

.subtitle {
    font-size: 1.7em;
    line-height: 1;
    margin-bottom: 0.4em;
}

ul.icons {
    white-space: nowrap;
    margin: 0.7rem 0 1rem .2rem;
}

ul.icons i {
    font-size: 1.3em;
    margin-right: 0.9em;
    width: 0.8em;
    color: #66666678;
    line-height: 1.2;
    margin-bottom: 2rem;
}

ul.icons .fa-mobile {
    font-size: 1.5em;
    margin: 0 0.6em 0 0;
}

.icons i.fa.fa-paper-plane {
    font-size: 1.1em;
    margin: 0 1.3em 0 -0.2em;
}

.icons i.fa.fa-link {
    font-size: 1.3em;
    margin: 0 1em 0 -0.2em;
}

.icons i.fa.fa-map-marker {
    margin: 0 0.8em 0 0;
}

.carousel-caption {
    position: initial;
    color: #000;
    text-align: left;
    font-size: 0.6rem;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
    filter: invert(1);
}

.card.card-body {
    border: none;
    padding: 0;
}

.carousel-indicators {
    text-indent: 0;
    li {
        background: #cccccc;
        text-indent: 0;
        border: none;
        height: initial;
    }
}

.projects {
    margin: 0 0 3em;
    padding-bottom: 0!important;
}

.carousel {
    padding: 0 0 5em;
}

.carousel-inner {
    height: 14em;
    overflow-y: scroll;
}

.techStack {
    margin-bottom: 0.7em;
    font-size: 0.6rem;
    ul {
        display: inline;
        margin-bottom: 0.5em;
        li {
            display: inline;
            color: #000;
            padding: 0.3em;
            line-height: 2.2;
            background: #e0e0e0;
            border-radius: 2px;
            white-space: nowrap;
            margin-right: .3em;
        }
    }
}

