// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-size: 0.9rem;
    background-image: url(/images/desk.jpg);
    background-repeat: no-repeat;
}
h1 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: 0.9;
    font-size: 3em;
    margin-bottom: 0.1em;
}

blockquote {
    font-style: italic;
}

ul {
    @include list-unstyled();
    &.atts {
        list-style: disc;
        margin: 0 0 3em 1em;
    }
    &.running li {
        margin-left: .5em;
        &:nth-child(n+2):before {
            content: '•';
            margin-right: .2em;
        }
    }
    &.duties * {
        display: inline;
    }
}

ul.duties {
    margin-left: 1em;
}

ul.duties > li {
    margin-left: -1em;
}

ul.duties > li >span {
    font-weight: bold;
}

.projects .toggle{
    &[aria-expanded=true] i:before {
        content: "\f106";
    }
    &[aria-expanded=false] i:before {
        content: "\f107";
    }
}
.placard{
    padding: 1.4em;
}

.cv {
    padding: 1.4em;
    background: #fff;
    transition: 1.5s cubic-bezier(0.65, 0.24, 0.35, 0.99);
    position: absolute;
    width: 612px;
    top: 0;
    left: 0;
    max-height: 100%;
    overflow: scroll;
    button.close {
        position: absolute;
        right: .5em;
        top: .5em;
    }

    &.threeD {
        &:hover{
            cursor: pointer;
        }
        @media (min-width: 800px) {
            transform: scaleX(0.2) scaleY(0.23) rotateX(66.8deg) rotateY(19deg) rotateZ(-67deg) skew(-3deg, 5deg);
            box-shadow: 3px 7px 9px;
            position: absolute;
            top: 170px;
            left: 50px;
            width: 800px;
        }
    }
    &.twoD {
    }
}
.jobs h3 {
    font-size: 1.5em;
    font-weight: 100;
}

h4 {
    font-size: 1em;
}

.subtitle {
    font-size: 1.7em;
    line-height: 1;
    margin-bottom: 0.4em;
}

ul.icons {white-space: nowrap;font-size: 0.9em;}

ul.icons i {
    font-size: 1.3em;
    margin-right: 0.9em;
    width: 0.8em;
    color: #66666678;
    line-height: 1.2;
}

ul.icons .fa-mobile {
    font-size: 1.9em;
    margin: 0 0.3em 0 0;
}

.icons i.fa.fa-paper-plane {
    font-size: 1.1em;
    margin: 0 1.3em 0 -0.2em;
}

.icons i.fa.fa-link {
    font-size: 1.3em;
    margin: 0 1em 0 -0.2em;
}

.icons i.fa.fa-map-marker {
    margin-right: 0.8em;
}

